<div class="author">
    <h1>Hii I'm Arj</h1>
    <h4>Web Developer and Content Creator</h4>
</div>

<div class="img">
    <img src="https://images.unsplash.com/photo-1543081143-12818e4f5bdb?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
</div>

<div class="wrapper">
	<h1 class="h1">
		Articles
		<span class="articles-counter">
			3
			<span class="visually-hidden">
				total
			</span>
		</span>
	</h1>
	<h2 class="h2">
		2023
	</h2>
	<div class="stack">
		<article class="article">
			<div class="article__container">
				<h2 class="article__title">
					<a class="article__link"  href="#">
						Lorem ipsum dolor sit amet.
					</a>
				</h2>
				<p class="article__text">
					Nam rutrum ac lorem quis vulputate. Nullam lacus leo, fringilla vitae blandit id, mattis sit amet augue. Mauris viverra tempor ipsum, volutpat varius diam tincidunt nec
				</p>
				<time class="article__date" datetime="2023-09-30">2023-09-30</time>
				<div class="article__tags tags">
					<span class="tags__item">HTML</span>
					<span class="tags__item">CSS</span>
				</div>
			</div>
		</article>
		<article class="article">
			<div class="article__container">
				<h2 class="article__title">
					<a class="article__link"  href="#">
						Lorem ipsum dolor sit amet.
					</a>
				</h2>
				<p class="article__text">
					Proin a varius metus. Vestibulum pharetra, justo nec hendrerit egestas
				</p>
				<time class="article__date" datetime="2023-09-30">2023-09-30</time>
				<div class="article__tags tags">
					<span class="tags__item">HTML</span>
					<span class="tags__item">CSS</span>
				</div>
			</div>
		</article>
		<article class="article">
			<div class="article__container">
				<h2 class="article__title">
					<a class="article__link"  href="#">
						Lorem ipsum dolor sit amet.
					</a>
				</h2>
				<p class="article__text">
					Aenean laoreet tortor nec ullamcorper suscipit. Nunc vel ante eget nisi feugiat pellentesque. Donec venenatis orci eu maximus bibendum. Donec gravida orci vel urna venenatis, et lobortis mauris accumsan. Aenean et ornare odio. Sed nibh felis, faucibus nec libero eget,
				</p>
				<time class="article__date" datetime="2023-09-30">2023-09-30</time>
				<div class="article__tags tags">
					<span class="tags__item">HTML</span>
					<span class="tags__item">CSS</span>
				</div>
			</div>
		</article>
	</div>
</div>