<div class="author">
    <h1 class="author__heading">Hi, I am Arjit.</h1>
    <p class="author__body">Web developer and content creator.</p>
</div>

<img src="https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="person looking out through window" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <% data.forEach((post) => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <% if (post.createAt && post.createAt instanceof Date) { %>
                        <span class="article-list__date"><%= post.createAt.toDateString() %></span>
                    <% } else { %>
                        <span class="article-list__date">Date Unavailable</span>
                    <% } %>
                </a>
            </li>
        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
</section>
